<?xml version="1.0" encoding="utf-8" ?>
<outputConfiguration>
  <issueOrder>
    <issue>
      <title>Bugfixes</title>
      <type>Bug</type>
    </issue>
    <issue>
      <title>Breaking Changes</title>
      <type>Breaking Change</type>
    </issue>
    <issue>
      <title>Improvements</title>
      <type>Improvement</type>
    </issue>
    <issue>
      <title>Refactoring</title>
      <type>Refactoring</type>
    </issue>
    <issue>
      <title>New Features</title>
      <type>New Feature</type>
    </issue>
    <issue>
      <title>Performance</title>
      <type>Performance</type>
    </issue>
  </issueOrder>
  <components>
    <!-- 
    if no component is present, all components will be shown
    if you want show only specific components, just add them like this:
    <component>SecurityManager</component> 
    -->
  </components>
  <issueVisibility>
    <visibleStatus>Closed</visibleStatus>
  </issueVisibility>
  <projectTitle>Release notes for re-motion</projectTitle>
</outputConfiguration>