<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="requestUrlBuilder" type="Remotion.BuildTools.JiraReleaseNoteGenerator.Configuration, JiraReleaseNoteGenerator"/>
  </configSections>

  <requestUrlBuilder
    url = "https://dev-53-isa-1.int.rubicon-it.com/jira"
    project = "UUU"  /> 
  
</configuration>